---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getCollection, type DataEntryMap } from 'astro:content';

export interface Props {
    collection: keyof DataEntryMap;
    pageTitle: string,
};
const { collection, pageTitle } = Astro.props;

const articles = await getCollection(collection);
const sortedArticles = articles.sort((left, right) => right.data.date.valueOf() - left.data.date.valueOf());
const shortDate = new Intl.DateTimeFormat("en-US", {
    dateStyle: "medium",
});
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        {sortedArticles.map(post => (
            <li>
                <div class="post">
                    <a class="post-link" href={`./${post.id}/`}>{post.data.title}</a>
                    <span class="post-date">{shortDate.format(post.data.date)}</span>
                    <span class="post-summary">{post.data.summary}</span>
                </div>
            </li>
        ))}
    </ul>
</BaseLayout>

<style>
    .post {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: auto auto;
        column-gap: 1em;
    }

    .post-link {
        grid-column: 1;
        grid-row: 1;
        font-size: larger;
        align-self: center;
    }

    .post-date {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        font-size: smaller;
        font-style: italic;
    }

    .post-summary {
        grid-column: 1 / 3;
        grid-row: 2;
        font-size: smaller;
    }
</style>